body{
    background-color: black;
    color: white;
    font-family: "Barlow", sans-serif;
    margin: 0;
    overflow-x: hidden;
}

header{
    display: flex;
    align-items: center;
    padding: 8px 56px;
    justify-content: space-between;
    /* position: sticky;
    top: 0; */
    z-index: 3;
    /* text-shadow: 0px 0px 5px black; */
}

nav{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-links ul{
    display: flex;
    gap: 20px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

.nav-links ul li{
    list-style: none;
}

.upcoming select{
    background-color: transparent;
    padding: 5px 20px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.6);
}

section{
    margin: 0;
}

h2{
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    line-height: 3rem;
}

p{
    font-weight: 400;
}

.hero{
    position: relative;
}

.hero video{
    width: 100vw;
    display: block;
}

.hero-content{
    position: absolute;
    top: 15vw;
    left: 8vw;
    max-width: 50%;
}

.hero-content-right{
    position: absolute;
    top: 12vw;
    right: 8vw;
    max-width: 45%;
}

.primary-btn{
    padding: 20px ;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid #404040;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    text-transform: uppercase;
    font-family: "Barlow", sans-serif;
}

.primary-btn:hover{
    background-color: rgba(255, 255, 255, 0.85);
    color: black;
}

.bg-img{
    width: 100vw;
}

.bg-img img{
    width: 100%;
}

.img-overlay-right{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right ,transparent, transparent, rgba(0, 0, 0, 0.8));
}

.img-overlay-left{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left ,transparent, transparent, rgba(0, 0, 0, 0.8));
}

.img-overlay-bottom{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, black ,rgb(0, 0, 0,0) ,rgb(0, 0, 0,0));
}

footer{
    margin: 12px 60px;
    display: flex;
    justify-content: space-between;
}

.twitter button{
    background-color: #ffffff20;
    border: 0;
    padding: 15px 18px;
    border-radius: 50px;
}

.quick-links{
    font-size: 13px;
    font-weight: 200;
    text-transform: uppercase;
}

.quick-links ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.copyrights{
    font-size: 12px;
}